/* @font-face {
	font-family: 'Source Serif Pro';
	font-weight: 400;
	font-style: italic;
	src: url('../../fonts/SourceSerifPro-it.woff2') format('woff2'),
	url('../../fonts/SourceSerifPro-it.woff') format('woff');
} */

/*@font-face {
	font-family: 'Source Serif Pro';
	font-weight: 300;
	font-style: italic;
	src: url('fonts/SourceSerifPro-lightit.woff2') format('woff2'),
	url('fonts/SourceSerifPro-lightit.woff') format('woff');
}

@font-face {
	font-family: 'Source Serif Pro';
	font-weight: 200;
	font-style: italic;
	src: url('fonts/SourceSerifPro-extralightit.woff2') format('woff2'),
	url('fonts/SourceSerifPro-extralightit.woff') format('woff');
}*/

/* @font-face {
	font-family: 'Source Serif Pro';
	font-weight: 700;
	font-style: italic;
	src: url('../../fonts/SourceSerifPro-boldit.woff2') format('woff2'),
	url('../../fonts/SourceSerifPro-boldit.woff') format('woff');
} */


/* @group Typography */

/*
 * Redefine Main Font
 *
*/

body, input, textarea, keygen, select, button, body .sd-social-icon .sd-content ul li a.sd-button, body .sd-social-text .sd-content ul li a.sd-button, body .sd-content ul li a.sd-button, body .sd-content ul li .option a.share-ustom, body .sd-content ul li.preview-item div.option.option-smart-off a, body .sd-content ul li.advanced a.share-more, body .sd-social-icon-text .sd-content ul li a.sd-button, body .sd-social-official .sd-content > ul > li > a.sd-button, body #sharing_email .sharing_send, body .sd-social-official .sd-content > ul > li .digg_button > a {
	  font-family: 'Source Serif Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}



/*
 * Contrast Font
*/


.entry-title,
.page-title,
.page-numbers,
.nav-links,
.comments-title,
.comment-reply-title,
.site-title,
.site-description,
.nav-menu,
.entry-meta,
.entry-footer,
.comment-form,
.nav-links,
.nav-previous span,
.nav-next span,
.read-more-link,
.site-info,
.search-instructions,
.scroll-box .widget_categories,
#infinite-handle,
#main #jp-relatedposts .jp-relatedposts-post-title
{
	font-family: 'Archivo Narrow', 'News Cycle', 'Cooper Hewitt', Helvetica, Arial, sans-serif;
}

.nav-menu,
.entry-meta,
.entry-footer,
.read-more-link {
	text-transform: uppercase;
	font-weight: 700;
}

/*
 * Title Font
 *
*/

.entry-title,
.page-title,
.page-numbers,
.site-description,
.search-field,
.comments-title,
.comment-reply-title,
.entry-content h1, 
.entry-content h2, 
.entry-content h3,
.nav-previous span,
.nav-next span,
.scroll-box .widget_categories .widget-title
{
	font-family: 'News Cycle', 'Cooper Hewitt', Helvetica, Arial, sans-serif;
	font-weight: 400;
	letter-spacing: 0.01em;
}

/*
 Title in grid archive view
*/

.portfolio-archive .entry-title {
	font-weight: 700;
}

@media only screen and (min-width: 1025px){
.portfolio-archive .has-post-thumbnail .entry-meta a {
		color: #fff;
	}
}

.portfolio-archive .cat-links {
	display: none;
}

.portfolio-archive .has-post-thumbnail .entry-title a:hover,
.portfolio-archive .has-post-thumbnail .entry-meta a:hover {
	opacity: 1 !important;
	text-shadow: none;
}


.entry-content h1, 
.entry-content h2, 
.entry-content h3 {
/*	font-weight: 600;*/
/*	font-style: italic;*/
/*	font-family: 'Bagnard Sans', Helvetica, Arial, sans-serif;*/
/*	font-family: 'Ume P Gothic C5','Cooper Hewitt','Oswald Regular', Helvetica, Arial, sans-serif;*/
}

/* @end */

