/* Override */
@media only screen and (max-width: 1024px){

.portfolio-wrapper .has-post-thumbnail .entry-title {
		margin-top: 0px;
		margin-bottom: 0;
		padding: 0px;
		text-align: left;
	}
	
}

.portfolio-plus-item {
	
	background-color: lavender;
}

.portfolio-plus-item:not(.has-post-thumbnail) {
	padding: 1em;
}


/* Override */
.infinite-scroll .posts-navigation, 
.infinite-scroll .paging-navigation {
	display: block;
}

.paging-navigation .next,
.paging-navigation .prev  {
	display: none;
}

body.archive .posts-navigation {
	display: none;
}

